.tabel-layout {
  .el-drawer {
    .el-drawer__header {
      margin-bottom: 16px;
    }
  }
  .tree-box{
    background: #fff;
    padding:20px;
  }
  .config-form-drawer-layout {
    .drawer-content {
      border-top: 1px solid #dcdfe6;
      height: 100%;
    }
  }
  .btn-box{
    margin-bottom:16px;
  }
  .le-row-color {
    background-color: #f2f5fa;
  }

  .le-header-cell-color {
    background-color: #f7f8fa !important;
  }

  .y-table-column-action-button {
    display: flex;
    align-items: center;

    .spacing {
      width: 1px;
      height: 8px;
      background-color: #ebeef5;
      margin: 0 8px;
    }
  }

  .el-table {
    th.required > div:before {
      content: '*';
      color: #f56c6c;
      margin-right: 4px;
      background: transparent;
      vertical-align: top;
    }
    &.edit-table {
      td {
        padding-bottom: 0;
        .el-form-item {
          margin-bottom: 18px;
        }
      }
    }
    .el-form-item {
      margin-bottom: 0;
    }
    .el-input__inner{
      padding:0 5px;
    }
  }

  .tool-bar {
    padding-bottom: 16px;
  }

  .keyword-search-layout {
    padding: 20px 20px 0 20px;
    margin-bottom:16px;
    background: #fff;
    .el-form-item{
      margin-bottom:20px;
    }
    .search-list {
      display: flex;
      flex-wrap: wrap;

      .search-item {
        display: flex;
        align-items: center;
        padding-bottom: 14px;
        width: calc(100% / 4);

        .search-name {
          padding-right: 10px;
          width: 120px;
          text-align: right;
          font-size: 14px;
          color: #606266;
        }

        .search-value {
          width: 100%;
        }
      }
    }

    .search-button-group {
      display: flex;
      justify-content: flex-end;
    }
  }
}
